/*.navbar-fixed-top .nav li {*/
/*  padding-top: 3px;*/
/*  font-family: junction, sans-serif;*/
/*}*/
/*#webcam-msg {*/
/*  position: absolute;*/
/*  z-index: 2;*/
/*  background: #777;*/
/*  color: #aaa;*/
/*  text-align: center;*/
/*  height: 240px;*/
/*  width: 320px;*/
/*  font-size: 14px;*/
/*}*/
/*a {*/
/*  color: #0af;*/
/*}*/
/*#webcam-msg p {*/
/*  padding: 80px 20px;*/
/*}*/
/*#webcam {*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*}*/
/*#header.navbar-inner {*/
/*  margin-right: -40px;*/
/*}*/

html {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: #f9f9f9;
  color: black;
}

.full-strecth-block {
  display: block;
  width: 100%;
  height: 100%;
}

.full-strecth-flex-vertical {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.demo-button {
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  background-image: linear-gradient(to bottom,#08c,#04c);
}

/*hr {*/
/*  border-color: #666;*/
/*}*/

/*.modal {*/
/*  color: #333;*/
/*}*/
#graph {
  width: 1024px;
  height: 200px;
  margin: 10px 0px;
}

@media only screen and (max-width: 1200px) {
  #graph {
    width: 800px;
  }
}

@media only screen and (max-width: 992px) {
  #graph {
    width: 650px;
  }
}

@media only screen and (max-width: 768px) {
  #graph {
    width: 520px;
  }
}

@media only screen and (max-width: 576px) {
  #graph {
    width: auto;
  }
}


/* Individual Component Style -------------------------------------------*/

#heightIndicatorPrev {

}

#landing-page:before {
  background-image: url('./asset/landing-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
#landing-page {
  justify-content: center;
  align-items: center;
}
#landing-page-content {
  width: 70%;
  max-width: 800px;
  text-align: center;
}
#landing-page-content p {
  color: grey
}

#landing-page-content span  {
  font-size: 1.7rem;
  opacity: 0.5;
}






